.header-homapage {
    display: block;
    border-bottom: 1px;
    padding-top: 15px;
    background-color: red;
 
}

.header-logo {
    display: inline-block;
}

.header-btn {
    display: inline-block;
    position: fixed;
    justify-content: end;
}