

.btn-gray {
    min-width: 120px;
    background: #d8d8d8 !important;
    color: #2c2c3a !important;
    border: 0px !important;
    font-weight: 500 !important;
    &:hover {
        background: #c0bebe !important;
    }
}

.btn-blue {
    min-width: 120px;

    background: #6088E0 !important;
    color: #FFFFFF;
    border: 0px !important;
    font-weight: 500 !important;
    &:hover {
        background: #496dbb !important;
    }
}

.btn-no-bg {
    min-width: 120px;

    background: transparent !important;
    color: #6088E0 !important;
    font-weight: 500 !important;
    border: 0px !important;
    &:hover {
        color: #496dbb;
        scale: 1.05;
    }
}

